.List {
  width: 60%;
  margin: 12px auto;
}

table > thead {
  width: 100%;
  display: flex;
  flex-direction: column;
}
thead > tr {
  width: 100%;
}
thead > tr > th {
  text-align: center;
}
tbody > tr {
  display: flex;
  text-align: center;
  border-collapse: collapse;
}

tbody > tr > td:nth-of-type(1),
tbody > tr > td:nth-of-type(3) {
  flex: 1;
}
tbody > tr > td:nth-of-type(2) {
  flex: 5;
}

tbody > tr > td {
  cursor: pointer;
}
tbody > tr:hover {
  background-color: rgb(253, 224, 224);
}
/* tbody > tr > td:hover tbody > tr > td:nth-of-type(3) {
  opacity: 1;
} */
