.List {
  width: 60%;
  margin: 12px auto;
}

table > thead {
  width: 100%;
  display: flex;
  flex-direction: column;
}
thead > tr {
  width: 100%;
  display: flex;
  justify-content: center;
}

tbody > tr {
  display: flex;
  text-align: center;
  border-collapse: collapse;
}

tbody > tr > td {
  flex: 1;
}

tbody > tr > td:nth-of-type(1) {
  opacity: 0;
  transition: all 0.5s;
}
tbody tr:hover td:nth-of-type(1) {
  opacity: 1;
}
tbody > tr > td:nth-of-type(3) {
  flex: 5;
}

tbody > tr > td {
  cursor: pointer;
}
tbody > tr:hover {
  background-color: rgb(253, 224, 224);
}
.modify.display,
.delete.display {
  display: none;
}
.check {
  display: none;
}
.check.display {
  display: inline-flex;
}
.through {
  text-decoration: line-through !important;
}
/* tbody > tr > td:hover tbody > tr > td:nth-of-type(3) {
  opacity: 1;
} */
